* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
 }
.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    width: 100vw;
    height: 100vh;
}

.header { grid-area: 1 / 1 / 2 / 4; }

.background { grid-area: 2 / 1 / 4 / 4; }

.table { grid-area: 2 / 2 / 4 / 3; }
  

.background {
    grid-area: 2 / 1 / 4 / 5;
    display: block;
    left: -40%;
    position: relative;
    z-index: -1;
}

.header { grid-area: 1 / 1 / 2 / 5; 
}
  
.retter { grid-area: 2 / 3 / 4 / 4; 
}
  
.varer { grid-area: 2 / 2 / 4 / 3; 
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    color: rgb(0, 0, 0);
}

label {
    font-weight: bold;
}

table a {
    color: rgb(0, 0, 0);
}
  
th, td {
    font-weight: bold;
    text-align: center;
    padding: 16px;
    border: 1px solid;
}

tr {
    background-color: #02b34ce0;
}


th {
    background-color: rgb(30, 255, 0);
    background-color: rgba(0, 241, 40, 0.699);
}

.varer , .retter {
    padding: 1px;
}
